﻿@model IEnumerable<StudentWebControl.Class>

@{
    ViewBag.Title = "Indexas";
}

<h2>Indexas</h2>

<div class="well well-sm">
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus"></i> Yeni</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
            <th>
                @Html.DisplayName("Isim")
            </th>
            <th>
                @Html.DisplayName("Numara")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
            </tr>
        }

    </table>
</div>