﻿@model StudentControl.Models.UserStudent

@{
    ViewBag.Title = "Creaate";
}

<h2>Creaate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UserStudent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Sınıf seçiniz")
            @Html.DropDownListFor(model => model.student.ClassId, ViewData["Classes"] as SelectList, "Seciniz", new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.user.Name, new { @class = "control-label" })
            @Html.EditorFor(model => model.user.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf numarasını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.user.Surname, new { @class = "control-label" })
            @Html.EditorFor(model => model.user.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.user.EMail, new { @class = "control-label" })
            @Html.EditorFor(model => model.user.EMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.user.Username, new { @class = "control-label" })
            @Html.EditorFor(model => model.user.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.user.Password, new { @class = "control-label" })
            @Html.EditorFor(model => model.user.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.Phone, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.Adress, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.Adress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.DateOfBirth, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.DateOfBirth, new { htmlAttributes = new {@type= "date", @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.ParentName, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.ParentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.ParentSurname, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.ParentSurname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.student.Phone, new { @class = "control-label" })
            @Html.EditorFor(model => model.student.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sınıf adını giriniz..." } })
        </div>

        <div class="form-group">
            Resim:
            <input type="file" name="student.StudentCoverImage" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
