﻿@model IEnumerable<StudentControl.Models.Student>

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Öğrenci Yönetimi</h2>
</div>


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Anasayfa</a>
    </li>
    <li class="breadcrumb-item active">Öğrenciler</li>
</ol>

<div class="well well-sm">
    <a href="@Url.Action("Creaate")" class="btn btn-success"><i class="fa fa-plus"></i> Yeni Öğrenci</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Iletişim")
        </th>
        <th>
            @Html.DisplayName("Telno")
        </th>
        <th>
            @Html.DisplayName("Adres")
        </th>
        <th>
            @Html.DisplayName("Doğum tarihi")
        </th>
        <th>
            @Html.DisplayName("Sınıf sıra numarası")
        </th>
        <th>
            @Html.DisplayName("Veli İsmi")
        </th>
        <th>
            @Html.DisplayName("Veli Soyismi")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentSurname)
        </td>
    </tr>
}

</table>
